@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
   Author: Arron Burris
   Date: 3/18/19
	
   Filename: br_styles.css

*/
html {
	background-image: url("gras.jpg");
}

body 
	{
		font-size: 20px;
	}

p 
	{
		font-size:25px;
	}
	
	/* whole page grid */	

#whole
	{
		display: grid;
		border: 
		
	}
	
/* Headers */

#heads
	{
		Display: grid;
		grid-template-columns: 20% 20% 20% 20% 20%;
		
	}
	
#heads h1
{
	grid-column-start:1;
	grid-column-end:6;
}

#heads h1, #heads p
	{
		border: 1px solid black;
		text-align: center;
		border-radius: 25px;
		
	}
	
#heads h1
	{
		background-color: red;
		grid-column-start: 3;
		grid-column-end: 4;
	}
	
#heads p
	{
		grid-row-start: 2;
		grid-row-end: 3;
		background-image: url("deadgrass.jpg");
	}
	
a:hover
{
	background-image: url("grass.jpg");
	color: transparent;
	
}


a:link
{
	color: #cfd2ff;

/* content */
#sexshun 
	{
		display: grid;
		padding: 20px 20px 20px 20px;
		grid-template-columns: 35% 10% 10% 10%;
		grid-template-rows:33% 33% 33%;
		grid-column-gap: 20px;
	}

#images
{
	display: grid;
	grid-column-start: 2;
	grid-column-end: 6;
	grid-template-columns: 33% 33% 33%;
	grid-row-gap: 35px;
	grid-column-gap: 15px;
}

#images div
	{
		
		border: 1px solid black;
		text-align: center;
		padding: 15px 15px 15px 15px;
	}
/* image modifiers */
div.a
{
	;
}

div.b
{
	
}

div.c
{
	;
}

div.d
{
	;	
}
div.e
{
	;
}
div.f
{
	;
}
div.g
{
	
}
div.h
{
	
}
div.i
{
	
}

/* paragraphs */

#longwords
	{
		display: grid;
		grid-row-start: 1;
		grid-row-end: 4;
		font-size-adjust: 20px;
		text-indent: 20px;
		padding-top:20px;
		align: center;
	}
	

}


