@charset "UTF-8";
/* 
Name: Arron Burris
Date: 2/13/19
Assignment: Project 1 (Diet Water)
*/
html 
{background-color:#B22222}
body
{color: }

main {padding: 0px 15px 0px 15px}

contact {padding: 0px auto 0px auto}
	{width: 60%}
	